body{
	background-image: url("images.png");
    text-align:center;
    font-family:arial;
    text-color:white;
}
table{
    margin:0 auto 0 auto;
    border-color:black;
}
td,th,h1,p{
    color:white;
} 
